body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#main-nav, footer {
  background-color: #2C3254;
}

#main-nav a, footer p.text-muted{
  color: #FFF;
}

#btn-login {
  background-color: #1873CC;
}

/*Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3.5rem;
  padding-top: 0.5rem;
}

/* Dashboard */
#dashboardContainer {
  margin-top: 5rem;
  max-width: 80rem;
}

#profilOverview, #eventOverview, #myWeek {
  min-height: 10rem;
  max-height: 20rem;
  border-style: solid;
  border-width: 1px;
  color: #2C3254;
}

#profilOverview, #eventOverview {
  background-color: #72DCF7;
}

#myWeek {
  margin-top: 3rem;
}

/* User */
#userContainer {
  margin-top: 5rem;
  max-width: 80rem;
}

#userPicture {
  border-style: solid;
  border-width: 1px;
  color: #2C3254;
  min-height: 10rem;
}

#userCredentialSubmit {
  margin-top: 3rem;
}

/* Events */
#eventsContainer {
  margin-top: 3rem;
}

#eventsSearchDropdown {
  min-width: 50rem;
}

#innerSearchForm .form-group {
  margin: 0 1rem 0 1rem;
}

#eventsSearchDropdown button {
  float: right;
  margin: 5px 5px 0 0;
}

#eventsSearchButtonGroup {
  /*width: 10rem;*/
}