<div id="dashboardContainer">
    <div class="row">
        <div id="profilOverview" class="col-sm-5">
            <h3>Mein Profil</h3>
        </div>
        <div id="eventOverview" class="col-sm-offset-2 col-sm-5">
            <h3>Alle Events</h3>
        </div>
    </div>
    <div class="row">
        <div id="myWeek" class="col-sm-offset-1 col-sm-10">
            <h3>Meine Sportwoche</h3><hr>
            <p>12.10.2015 Event 1</p>
            <a href="#/events">Alle Events</a>
        </div>
    </div>
</div><!-- Dashboard -->