<header>
	<nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
	  <div class="container-fluid">
		<img src="images/icon.png" id="img-logo" height="42" width="42" style="float: left;	margin-top: 5px; margin-right: 5px;"/>
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">EventCorp</a>
		</div>
			<ul class="nav navbar-nav navbar-right">
			<li><a href="#">&Uuml;ber Uns</a></li>
			<li><a href="#">Registrieren</a></li>
		  </ul>
	  </div><!-- /.container-fluid -->
	</nav><!-- Navigation -->
</header>