<div id="eventsContainer">
    <div data-ng-include="'app/views/message.html'"></div>
    <h1>Event Liste <img class="loader" src="./images/ajax-loader.gif" data-ng-show="showLoader" /></h1><hr>
    <div id="eventlist">
        <div id="event-changer">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label for="changePageSize">Eintr&auml;ge pro Seite</label>
                        <select class="form-control" id="changePageSize" data-ng-model="tableOptions.pageSize" data-ng-options="option for option in pageSizeOptions"></select>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="inputSearchTerm">Suche</label>
                        <input type="text" class="form-control" id="inputSearchTerm" placeholder="Search" data-ng-model="tableOptions.searchTerm">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <ul class="pagination">
                        <li data-ng-class="pagination.currentIndex == 0 ? 'disabled' : 'peng'">
                            <a data-ng-click="tableOptions.page = 0" aria-label="Previous" href="">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li data-ng-repeat="pageIndex in pagination.pageIndexes" data-ng-hide="pageIndex < 0 || pageIndex > pagination.lastPageCount" data-ng-class="pageIndex==pagination.currentIndex? 'disabled':''">
                            <a href="" data-ng-click="tableOptions.page = pageIndex">{{pageIndex + 1}}</a>
                        </li>
                        <li data-ng-class="pagination.currentIndex == pagination.lastPageIndex ? 'disabled' : ''" data-currentIndex ="{{pagination.currentIndex}}" data-lastPageCount ="{{pagination.lastPageCount}}">
                            <a data-ng-click="tableOptions.page = pagination.lastPageCount"  aria-label="Next" href="">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><hr>
        <div class="event-item {{event.Expired ? 'expired' : ''}}" id="event_{{$index}}" data-ng-repeat="event in events">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="event-headline">
                        {{event.Name}} <small class="event-city">{{event.Place}}</small>
                    </h2>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="col-xs-2">
                        <i class="glyphicon {{getCssForType(event.Type)}}"></i>
                    </div>
                    <div class="col-xs-10 event-date {{event.Expired ? 'expired' : ''}}">
                        <i class="glyphicon glyphicon-time"> {{event.StartUTC | date:'dd.MM.yyyy hh:mm'}}</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="event-desc">{{event.Description}}</p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="progress">
                        <div data-ng-hide="event.IsBookedOut" class="progress-bar progress-bar-success" style="width: {{(event.MaxUsers - event.NumberFree)*100/event.MaxUsers}}% " aria-valuenow="{{event.NumberFree *100 / event.MaxUsers}}" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">Free Seats: {{event.NumberFree}}</span>
                            {{event.MaxUsers - event.NumberFree}}
                        </div>
                        <div data-ng-show="event.IsBookedOut" class="progress-bar progress-bar-warning" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">Whitelist: {{event.NumberWaitingList}}</span>
                            {{event.NumberWaitingList}} auf der Warteliste
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div data-ng-hide="{{event.IsBookedOut}}"></div>
                    <button type="button" class="btn btn-default btn-success pull-right" data-ng-click="subscribe(event)" data-ng-hide="{{event.UserHasSubscribed}}"><i class="glyphicon glyphicon-ok"></i> Subsribe</button>
                    <button type="button" class="btn btn-default btn-danger pull-right" data-ng-click="unsubscribe(event)" data-ng-show="{{event.UserHasSubscribed}}"><i class="glyphicon glyphicon-remove"></i> Unsubsribe</button>
                </div>
            </div>
        </div>
    </div><!-- Events -->
</div>
