<link rel="import" src="components/polymer/polymer-micro.html" />

<!--<polymer-element name="profile" attributes="username, birthdate, mySports, about" noscript>-->
<dom-module id="profile-card">
	<link rel="stylesheet" href="profile.css"/>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="components/bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<template>
		<h3>Persönliche Daten</h3>
		<div class="form-group">
			<label for="inputUsername">Benutzername</label>
			<input type="text" id="inputUsername" class="form-control" placeholder="Benutzername" required="" autofocus="" value="{{username}}" />
		</div>
		<div class="form-group">
			<label for="inputBirthday">Geburtstag</label>
			<input type="date" id="inputBirthday" class="form-control" placeholder="Geburtstag" required="" value="{{birthdate}}" />
		</div>
		<div class="form-group">
			<label for="inputUserSports">Meine Sportarten</label>
			<textarea class="form-control" rows="5" id="inputUserSports" placeholder="Meine Sportarten" value="{{mySports}}"></textarea>
		</div>
		<div class="form-group">
			<label for="inputUserAdditionalInformation">Über mich</label>
			<textarea class="form-control" rows="5" id="inputUserAdditionalInformation" value="{{about}}"></textarea>
		</div>
	</template>
	<script>
		Polymer({
			is:'profile-card',
			properties: {
				username : "Default"
			}
		})
	</script>
</dom-module>
<!--</polymer-element>-->