<link rel="import" href="/scripts/polymer/polymer.html" />

<dom-module id="login-component">
	<link rel="stylesheet" href="login-component.css"/>
	<template>
        <h2 class="form-signin-heading">Bitte anmelden</h2>
        <div class="form-group">
            <label for="inputUsername" class="sr-only">Benutzername</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Benutzername" required="" autofocus="">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Passwort</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" required="">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn-login">Anmelden</button>
	</template>
	<script>
		Polymer({
			is:'login-component'
		})
	</script>
</dom-module>

