<link rel="import" href="/scripts/polymer/polymer.html" />

<dom-module id="profile-foto">
    <link rel="stylesheet" href="profile-foto.css" />
    <template>
        <label for="uploadAvatar">Avatar hochladen</label>
        <input type="file" name="pic" id="uploadAvatar" accept="image/*" file-model="avatar">
        <img id="loader" src="/images/ajax-loader.gif" alt="upload file" data-ng-show="'{{showLoader}}' == 'true'"/>
        <img id="preview" width="200" alt="Image preview..." data-ng-src="{{imageUrl}}" data-ng-show="imageUrl != ''">
        

        <span ng-show="avatar">GEHT</span>

    </template>
    <script>
        Polymer({
            is: 'profile-foto'
        })
    </script>
</dom-module>